*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial
}

body{
    background-color: #c7ecee;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.select-menu{
    width: 300px;
    cursor: pointer;
    position: relative;
}

.select{
    background-color: #201e1e;
    padding: 20px;
    color: #fff;
    font-weight: bold;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options-list{
    position: absolute;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 6px;
    margin-top: 14px;
    padding: 0 20px;
    max-height: 180px;
    overflow-y: auto;
    transition: .4s linear .2s;
    height: 0;
}

.option{
    padding: 8px 0;
    font-weight: 500;
    font-size: 14px;
    transition: .3s ease-in-out;
}

/* hover 고정 */
.option:hover,
.option.selected{
    color : #00a8ff;
}

.options-list::-webkit-scrollbar{
    width: 4px;
    background-color: #eee;
}

.options-list::-webkit-scrollbar-thumb{
    background-color: #00a8ff;
}

.options-list.active{
    height: 180px;
}